body {
  background-color: #f6f6fa;
  font-family: "Quicksand", sans-serif;
  color: #272044;
}
a {
  color: #272044;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  border: 6px solid #cfc3e9cc;
  border-radius: 30px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

header {
  border-bottom: 1px solid #cfc3e9cc;
  padding: 0 0 30px 0;
}

.search-form-input {
  background-color: #f6f6fa;
  border: none;
  border-radius: 10px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  background-color: #7b72e6;
  padding: 15px 20px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
  color: #ffffffea;
  margin-left: 5px;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #c5134f;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 90px;
  height: 90px;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: 500;
  line-height: 1;
}

.weather-app-unit {
  margin-top: 30px;
  font-size: 28px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.weather-forecast-date {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #8052aad5;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  text-align: center;
  font-size: 38px;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #c5134f;
  display: flex;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 3px 8px;
}
footer {
  border-top: 1px solid #cfc3e9cc;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 11px;
  font-family: monospace;
  color: #272044bd;
}
